@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "/assets/fonts/index.css" all;

body {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
